{% extends "base.html" %}

{% block title %}Registro - EduStream{% endblock %}
{% block content %}
<div class="container mt-5 registro">
    <h1 class="mb-4 title-registro">Crear una cuenta</h1>
    <div>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
    </div>
    <div class="form-container">
        <form method="post" action="/registro">
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu nombre de usuario" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo electrónico" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" required>
        </div>
        <div class="mb-3">
            <label for="confirm-password" class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirma tu contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
        <p class="mt-3">¿Ya tienes una cuenta? <a href="/login">Inicia sesión <span class="text-primary">aquí</span></a>.</p>
        </form>
    </div>
    </div>
</div>
{% endblock %}