.form-container.login {
    width: 400px;
    min-height: 345px;
    height: 441px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15); /* sombra más corta */
    margin: 40px auto;
}

.email, .password {
    padding-top: 20px;
}

.welcome-message {
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    animation: blinker 2s linear infinite;
    color: #a5a5a5;
}